<div class="separator"></div>
<div class="footer">
  <div>
    <p style="margin-bottom: 0.5rem;">
      <fa-icon
        (click)="onToggleDarkTheme()"
        style="cursor: pointer;"
        title="Toggle between light/dark theme"
        [icon]="faMoon"
      >
      </fa-icon>
    </p>
    <p>
      Made with <a target="_blank" href="https://angular.io/">Angular</a> and
      <a
        target="_blank"
        href="https://developer.mozilla.org/en-US/docs/Web/API/URL"
        >URL API</a
      >
    </p>
    <p>Copyright 2022 &copy; Radu-Alexandru B.</p>
  </div>
</div>
