<div class="container">
  <h1>Simple URL Parser and Query Builder App</h1>
  <div class="form-container">
    <form #urlForm="ngForm" (ngSubmit)="onParseUrl(urlForm)">
      <div class="form__item">
        <label class="form__label" for="url">URL</label>
        <input
          ngModel
          class="form__input"
          type="url"
          name="url"
          id="url"
          required
        />
        <div class="form__item--buttons">
          <button
            class="form__button form__button--submit"
            type="submit"
            [disabled]="urlForm.invalid"
          >
            Parse
          </button>
          <button
            class="form__button form__button--reset"
            type="reset"
            (click)="onClearUrl()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="urlNew">
    <h2>Parsed URL Parts</h2>
    <div class="form-container">
      <form #urlNewForm="ngForm" (change)="onBuildUrl(urlNewForm)">
        <div class="form__item">
          <label class="form__label" for="protocol">Protocol</label>
          <input
            type="text"
            name="protocol"
            id="protocol"
            class="form__input"
            ngModel="{{ urlNew.protocol }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="hash">Hash</label>
          <input
            type="text"
            name="hash"
            id="hash"
            class="form__input"
            ngModel="{{ urlNew.hash }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="host">Host</label>
          <input
            type="text"
            name="host"
            id="host"
            class="form__input"
            ngModel="{{ urlNew.host }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="hostname">Hostname</label>
          <input
            type="text"
            name="hostname"
            id="hostname"
            class="form__input"
            ngModel="{{ urlNew.hostname }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="path">Path</label>
          <input
            type="text"
            name="path"
            id="path"
            class="form__input"
            ngModel="{{ urlNew.pathname }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="origin">Origin</label>
          <input
            type="text"
            name="origin"
            id="origin"
            class="form__input"
            ngModel="{{ urlNew.origin }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="port">Port</label>
          <input
            type="text"
            name="port"
            id="port"
            class="form__input"
            ngModel="{{ urlNew.port }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form__input"
            ngModel="{{ urlNew.username }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="password">Password</label>
          <input
            type="text"
            name="password"
            id="password"
            class="form__input"
            ngModel="{{ urlNew.password }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="search">Search</label>
          <input
            type="text"
            name="search"
            id="search"
            class="form__input"
            ngModel="{{ urlNew.search }}"
            required
            disabled
          />
        </div>
        <div class="form__item">
          <label class="form__label" for="href">Href</label>
          <input
            type="text"
            name="href"
            id="href"
            class="form__input"
            ngModel="{{ urlNew.href }}"
            required
          />
        </div>
      </form>
    </div>

    <div *ngIf="url.search">
      <h2>Query String</h2>
      <form
        #urlNewFormQuery="ngForm"
        (change)="onBuildUrlParams(urlNewFormQuery)"
      >
        <div class="form__item" *ngFor="let param of urlParams | keyvalue">
          <label
            class="form__label"
            title="{{ param.key }}"
            for="{{ param.key }}"
            >{{ param.key }}</label
          >
          <input
            type="text"
            name="{{ param.key }}"
            id="{{ param.key }}"
            class="form__input"
            ngModel="{{ param.value }}"
            required
          />
          <fa-icon
            (click)="onDeleteUrlParam(param.key)"
            title="Delete this parameter"
            [icon]="faTimes"
            style="cursor: pointer; color: var(--primary-color)"
          ></fa-icon>
        </div>
      </form>
    </div>

    <div>
      <h2>New URL:</h2>
      <p *ngIf="!urlNewComplete">
        Please change Href or Query Parameters first!
      </p>
      <a *ngIf="urlNewComplete" href="{{ urlNewComplete }}" target="_blank">{{
        urlNewComplete
      }}</a>
    </div>
  </div>

  <div class="separator"></div>
  <div>
    <h2>Examples</h2>
    <div class="form__item--buttons flex-wrap">
      <button
        class="form__button form__button--submit"
        (click)="
          onParseExample(
            'https://api.whatsapp.com/send/?app_absent=0&phone=40999999999&text=Hello+world%2C+How+are+you+today%3F&type=phone_number'
          )
        "
      >
        WhatsApp API
      </button>
      <button
        class="form__button form__button--submit"
        (click)="
          onParseExample(
            'https://www.google.com/search?q=angular+crash+course+for+beginners&oq=angular+cras&sourceid=chrome&ie=UTF-8'
          )
        "
      >
        Google
      </button>
      <button
        class="form__button form__button--submit"
        (click)="
          onParseExample('https://unsplash.com/s/photos/foggy-mountains')
        "
      >
        Unsplash
      </button>
      <button
        class="form__button form__button--submit"
        (click)="
          onParseExample(
            'https://www.jfrog.com/jira/browse/RTFACT-27232?jql=project%20%3D%20%22Artifactory%20Binary%20Repository%22%20AND%20(text%20~%20%22system%20down%22%20OR%20description%20~%20%22system%20down%22)%20ORDER%20BY%20key%20DESC'
          )
        "
      >
        Jira
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
