*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utilities */
:root {
  --primary-color: hsl(200, 27%, 25%);
  --secondary-color: hsl(200, 33%, 24%);
  --background-color: hsl(0, 0%, 100%);
  --background-color-secondary: hsl(0, 0%, 100%);
  --font-main-color: #000;
  --font-opposite-color: #fff;
}

[data-theme="dark"] {
  --primary-color: hsl(216, 85%, 85%);
  --secondary-color: hsl(210, 79%, 75%);
  --background-color: hsl(207, 29%, 6%);
  --background-color-secondary: hsl(206, 28%, 10%);
  --font-main-color: #fff;
  --font-opposite-color: #000;
}

::selection {
  background: var(--primary-color);
  color: var(--font-opposite-color);
}

html,
body {
  height: 100%;
}

app-root {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--font-main-color);
  /* useful for sticking the footer to bottom of page */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  transition: background-color 200ms ease-in;
}

@media screen and (max-width: 480px) {
  app-root {
    font-size: 14px;
  }
}

a {
  color: var(--primary-color);
}

input {
  color: var(--font-main-color);
  background-color: var(--background-color-secondary);
}

/* Styling */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 0.75rem;
  }
}

h1 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

/* Footer */
app-footer {
  margin-top: auto;
}
.mb-2 {
  margin-bottom: 2rem;
  /* Avoid collapsing margins */
  display: flex;
  flex-direction: column;
}
.footer {
  box-shadow: -2px -3px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  background-color: var(--background-color-secondary);
  transition: background-color 200ms ease-in;
}
@media screen and (max-width: 480px) {
  .footer {
    font-size: 0.9em;
  }
}

/* Forms */
.form__item {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.form__label {
  width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__input {
  padding: 0.5rem;
  width: 100%;
  border-width: 2px;
  border-color: rgba(0, 0, 10, 0.25);
  border-radius: 0.5rem;
  transition: border-color 200ms ease-in;
}

.form__input::placeholder {
  color: #bbb;
}

.form__input:focus {
  border-color: var(--primary-color);
  outline: 0;
}

.form__item--buttons {
  display: flex;
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.form__button {
  padding: 0.6em 1.2em;
  border-radius: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.form__button.form__button--submit {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--font-opposite-color);
}
.form__button.form__button--reset {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--font-main-color);
}
